.footer-content{
    display: flex;
    flex-direction: row;
    background-color: #2e4052;
    align-items: center;
    justify-content: space-around;
}

#photo {
    display: flex;
    width: 50px;
    height: auto;
}

#copy {
    display: flex;
    color: white;
}