#demo-content {
    margin: 60px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    display: flex;
    text-align: center;
    margin: 40px;
    font-size: 40px;
    color: #ea8415;
}

.text {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #2e4052;
}

.iconExplain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.start {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.start-img {
    display: flex;
    max-width: 400px;
    max-height: 400px;
}

.start-explain {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.place {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.place-img {
    display: flex;
    max-width: 400px;
    max-height: 400px;
}

.place-explain {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-img {
    display: flex;
    max-width: 400px;
    max-height: 400px;
}

.team-explain {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 400px) {
    .start-img {
        max-width: 350px;
        max-height: 350px;
    }
    .place-img {
        max-width: 350px;
        max-height: 350px;
    }
    .team-img {
        max-width: 350px;
        max-height: 350px;
    }
}