#price-content {
    margin: 60px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    display: flex;
    font-size: 30px;
    color: #ea8415;
}

ul {
    margin: 10px;
}

li {
    margin:10px 10px 10px 10px;
    font-size: 20px;
    color: #2e4052;
}

.free {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.premium {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.price {
    background: #ea8415;
    border-radius: 20px;
}

.text-price {
    padding: 3px;
    color: white;
    font-size: 20px;
}